*.tmp
*.log
*.swp
*.png
*.tpad
*.fcldump
tmp*
runjobs.*

local.fcl

obsolete

ib*Wf*
ib4RoiTree
ib4cnr*
ib4tai*
ib5cal*
ib5cnr*
ib5ped*
ib5pnr*
ib5tai*
run_iceberg*
run_dataprep*
roiTree
roiwTree
roiTreeNarrow
runIb5Cal
runIb5Cnr

chains
plots-noisesum
reports-tau
wfraw
wftail
xfer

.runjobs*
shanshan
ethan
yinrui
